.customPage {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 110vh;  
  background: #FFF;
  gap : 40px;
  padding : 28px;

  .goback {
    position: absolute;
    right:0;
    margin-right : 17px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

  } 
  .header_text {
    color: #000;

    text-align: center;
    /* OceanSpace/H3-500 */
    font-family: Mitr;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .profile_pic {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    fill: #F4FCFF;

    stroke-width: 2px;
    stroke: #9CD3FC;

  }
  .profile_pic_wrapper {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
    /* height : 170px; */
    /* gap: 24px; */
    

    .profile_character {
      
      display: flex;
      width: 87px;
      height: 33px;
      /* padding: 4px 16px; */
      justify-content: center;
      align-items: center;
      /* gap: 10px; */

      position: relative;
      bottom: 30px;


      border-radius: 20px;
      border: 1px solid #DDD;

      background: #FFF;

      color: var(--OceanSpace-Black-Secondary, rgba(50, 49, 56, 0.70));
      text-align: center;
      /* OceanSpace/Body-400 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .profile_name {
      color: #000;
      text-align: center;
      /* OceanSpace/H3-500 */
      font-family: Mitr;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .profile_desc {
      color: #000;

      text-align: center;
      /* OceanSpace/Caption-L-300 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

  }
  svg text{
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    /* OceanSpace/Caption-M-300 */
    font: bold 30px Mitr;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .list_profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .list_profiles_inner {
      display: flex;
      gap : 13px;

      img {
        width: 72px;
        height: 72px;
        flex-shrink: 0;
      }
    }
  }
  .tag_outer {
    color : black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;

    .tag_inner {
      display: flex;
      justify-content: center;
      gap: 8px;
      .tag {
        display: flex;
        padding: 4px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        border: 1px solid #DADADA;
        background-color: #FFF;

        color: var(--OceanSpace-Black-Secondary, rgba(50, 49, 56, 0.70));
        text-align: center;
        /* OceanSpace/Body-400 */
        font-family: Mitr;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .input_area {
    display: flex;
    flex-direction: column;
    gap : 12px;
    align-self: stretch;


    input {
      display: flex;
      height: 40px;
      padding-left: 16px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 16px;
      border: 1px solid rgba(0, 0, 0, 0.30);
    }
    ::placeholder {
      color: rgba(50, 49, 56, 0.40);
      /* OceanSpace/Body-400 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

  }
  .next_button {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--OceanSpace-Brand-Primary, #0D7FE8);

    color: #FFF;
    

    text-align: center;
    /* OceanSpace/Button-L-500 */
    font-family: Mitr;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  

}