.login {
  width: 100vw;
  height: 100vh;
  /* background-color: green; */
  display: flex;
  padding-top : 10vh;
  /* align-items: center; */
  /* gap: 100px; */

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;

    h2 {
      color: #FFF;
      text-align: center;
      font-family: "Space Grotesk";
      font-size: 10vh;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;

      opacity: 0.9;
      mix-blend-mode: screen;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      input {
        width: 342px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.40);
        border-width: 0px;

        color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding : 16px;

      }
      .login_text {
        color: rgba(255, 255, 255, 0.90);
  
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      ::placeholder {
        color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        /* font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding : 16px; */
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        padding : 10px; 
        justify-content: space-between;
        cursor: pointer;
        /* background-color: green; */
        text-decoration: underline;


        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          object-fit: cover;
          opacity: 0.6;
          
        }
      }

      button {
        width: 342px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 16px;
        background: var(--OceanSpace-Brand-Primary, #0D7FE8);
        border-width: 0px;
        
        color: #FFF;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;


        &:disabled {
          cursor: not-allowed;
          background-color: #1f8ff19c;
        }
      }
    }
    
    .bottom {
      display: flex;

      .bottom_text {
        color: rgba(255, 255, 255, 0.80);

        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .bottom_link {
        color: #FFF;

        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
        padding : 0px 0px 0px 10px;
      }
    }
    
  }
  .on-bar-outer {
    display: flex;
    background-color: green;
    svg {
      height: 0px;
      flex: 1 0 0;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.50);

    }
    .line-bar {
      border-left: 6px solid green;
      border-color: white;
      /* height: 500px; */
    }
    .or-bar {
      color: rgba(255, 255, 255, 0.80);

      text-align: center;
      /* OceanSpace/Body-400 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .signin-google-outer {
    display: flex;
    width: 342px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 50px;
    background: #FFF;
    
    img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      
    }
    .google-text {
      color: #040404;
      text-align: center;
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .separator {
    height: 80%;
    width: 2px;
    background-color: #dddddd35;
  }
}
