.llmProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 110vh;  
  background: #F4FCFF;
  gap : 24px;
  /* padding : 28px; */


  .goback {
      position: absolute;
      left:0;
      top : 22px;
      margin-left : 17px;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
  
  } 
  .header_text {
    display: flex;  
    height : 70px;
    width : 100vw;
    /* background-color: green; */
    color: #000;
    justify-content: center;
    align-items: center;
    border-bottom : 1px solid rgba(0, 0, 0, 0.20);


    /* OceanSpace/H3-500 */
    font-family: Mitr;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .profile_pic_wrapper {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
    /* height : 170px; */
    /* gap: 24px; */
    

    .profile_name {
      color: #FFF;

      text-align: center;
      /* OceanSpace/H3-500 */
      font-family: Mitr;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .profile_desc {
      color: #FFF;

      text-align: center;
      /* OceanSpace/Caption-L-300 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  .tag_outer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .tag_inner {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      gap: 8px;
      align-self: stretch;
      flex-wrap: wrap;
      .tag {
        display: flex;
        padding: 4px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: #FFF;

        text-align: center;
        /* OceanSpace/Body-400 */
        font-family: Mitr;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.30);


      }
    }
  }
  .greet {
    display: flex;
    padding: 16px 18px 0px 18px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    .quote {
      color: #FFF;

      text-align: center;
      font-family: "Space Grotesk";
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 60% */
    }
    .greet_text {
      color: #FFF;
      text-align: center;
      /* OceanSpace/Body-400 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .add-button {
    display: flex;
    width: 300px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #fff;

    
    text-align: center;
    /* OceanSpace/Button-L-500 */
    font-family: Mitr;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-width : 0px;
  }
}