.loading_section {
    display:block;
    margin:auto;
    width : 100vw;
    height : 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 58%), url("/OceanSpaceBg.jpg") lightgray 50%;
    background-size: 100vw 100vh;

    .loading{
        text-align: center;
        vertical-align: middle;
        font-size: 36px;
        width : 100vw;
        height : 100vh;
        background-color: rgba(0, 0, 0, 0.139);
        font-weight: 600;
        /* background-color: green; */


    }
}