.myProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 110vh;  
  background: #F4FCFF;
  gap : 32px;
  /* padding : 28px; */


  .goback {
    position: absolute;
    right:0;
    margin-right : 24px;
    margin-top : 22px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    
    /* padding : 1px; */

  } 
  .header_text {
    display: flex;  
    height : 70px;
    width : 100vw;
    /* background-color: green; */
    color: #000;
    justify-content: center;
    align-items: center;
    border-bottom : 1px solid rgba(0, 0, 0, 0.20);


    /* OceanSpace/H3-500 */
    font-family: Mitr;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .profile_pic_wrapper {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
    /* height : 170px; */
    /* gap: 24px; */
    

    .profile-edit {
      
      display: flex;
      width: 87px;
      height: 33px;
      /* padding: 4px 16px; */
      justify-content: center;
      align-items: center;
      /* gap: 10px; */

      position: relative;
      bottom: 30px;


      border-radius: 20px;
      border: 1px solid #DDD;

      background: #FFF;
      color: var(--OceanSpace-Black-Secondary, rgba(50, 49, 56, 0.70));
      text-align: center;
      /* OceanSpace/Body-400 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .profile_name {
      color: #000;
      text-align: center;
      /* OceanSpace/H3-500 */
      font-family: Mitr;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .option {
    display: flex;
    flex-direction: column;
    gap : 20px;
    color : black;

    .setting {
      background-color: white;
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      gap : 20px;
      padding : 16px 20px 16px 20px;
      width: 350px;
      justify-content: center;
      align-items: flex-start;

      .setting-header {
        color: #000;

        text-align: center;
        /* OceanSpace/Body-500 */
        font-family: Mitr;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .setting-button {
        display: flex;
        justify-content: space-between;
    
        align-self: stretch;


        /* background-color: hre; */
        /* gap */
        color: #000;
        
        /* background-color: green; */

        /* OceanSpace/Button-S-500 */
        font-family: Mitr;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        .setting-button-inner {
          display: flex;
          justify-content: space-between;
          gap : 12px;
          

        }

        button {
          display: flex;
          padding: 2px 8px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 20px;
          
          color: #FFF;
          border-width: 0;

          text-align: center;
          /* OceanSpace/Caption-S-400 */
          font-family: Mitr;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

        }
        input {
          display: flex;
          padding: 2px 8px;
          width : 100px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 20px;
          background: var(--OceanSpace-Brand-Primary, #0D7FE8);
          
          color: #FFF;
          border-width: 0;

          text-align: center;
          /* OceanSpace/Caption-S-400 */
          font-family: Mitr;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        ::placeholder {
          color : rgb(212, 212, 212);
        }
      }
    }
    .signout {
      background-color: white;
      border-radius: 20px;

      display: flex;
      width: 350px;
      padding : 16px 20px 16px 20px;
      align-items: center;
      gap: 12px;

      color: #000;

      text-align: center;
      /* OceanSpace/Button-S-500 */
      font-family: Mitr;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

  }
}