@keyframes slideRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(100%);
  }
}

@keyframes slideLeft {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.chatlistouter {  
  flex : 1;
  display : flex;
  justify-content : center;
  flex-direction: column;
  background: #F4FCFF;
  &.slide-right {
    animation: slideRight 0.2s forwards ease-out; /* Apply the slide-right animation */
  }

  &.slide-left {
    animation: slideLeft 0.2s forwards ease-out; /* Apply the slide-right animation */
  }

  .outer_chatlist {
    /* height :100vh; */
    .addbar {
      border-top: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .addbar_text {
        color: #000;
        font-family: "Mitr";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .add_text {
        display: flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: #E2F0FF;

        color: var(--OceanSpace-Brand-Primary, #0D7FE8);
        text-align: center;
        /* OceanSpace/Button-M-500 */
        font-family: Mitr;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .add_text:after {
        content: 'เพิ่มเพื่อน';
        text-decoration-line: underline;
      }
  
    }
    .chatList {
      width : 90vw;
      overflow: auto;
      display : flex;
      flex-direction: column;
      gap : 12px;
      margin : 0px 20px 0px 20px;
      align-items: center; 
      justify-content: center; 

  
      .item {
        display: flex;
        width: 90vw;
        height: 80px;
        padding: 16px 12px 16px 16px;
        align-items: center;
        gap: 12px;

        border-radius: 20px;
        background: #FFF;
        

        .texts {
          /* background-color: green; */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          flex: 1 0 0;
          align-self: stretch;
    
          span {
            color: rgba(50, 49, 56, 0.90);
            font-family: "Mitr";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 133.333% */
          }
          p {
            color: rgba(50, 49, 56, 0.50);
            max-width : 187px;

            /* OceanSpace/Caption-M-300 */
            font-family: Mitr;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .noti {
          display: flex;
          padding: 2px 8px;
          justify-content: center;
          align-items: center;
          /* gap: 10px; */

          border-radius: 20px;
          background: var(--OceanSpace-Brand-Primary, #0D7FE8);
          color: #FFF;

          text-align: center;
          /* OceanSpace/Caption-S-400 */
          font-family: Mitr;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

        }
      }
    }
  }
  
  .first_time {
    display: flex;
    width: 90vw;
    padding: 20px 0px;
    margin: 34px 20px 34px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    border-radius: 24px;
    background: var(--OceanSpace-Brand-Primary, #0D7FE8);
    
    .desc-top {
      color: #FFF;
      text-align: center;
      /* OceanSpace/Body-400 */
      font-family: Mitr;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin :  0px 60px 0px 60px;
    }
    .desc-container {
      .desc {
        color: #FFF;
  
        text-align: center;
        /* OceanSpace/Caption-L-300 */
        font-family: Mitr;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .desc-head {
        color: #FFF;
  
        text-align: center;
        /* OceanSpace/H3-500 */
        font-family: Mitr;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    
    .center {
      display: flex;
      width: 300px;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      img {
        border-radius: 100px;
      }
      .tag_outer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .tag_inner {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          align-content: flex-start;
          gap: 8px;
          align-self: stretch;
          flex-wrap: wrap;
          .tag {
            display: flex;
            padding: 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
    
            color: #FFF;
    
            text-align: center;
            /* OceanSpace/Body-400 */
            font-family: Mitr;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.30);
    
    
          }
        }
      }
      

    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap : 12px;
      .addfriend {
        display: flex;
        width: 300px;
        height: 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        background: #FFF;
        border-width: 0px;

        color: var(--OceanSpace-Brand-Primary, #0D7FE8);
        text-align: center;
        /* OceanSpace/Button-L */
        font-family: Mitr;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 24px;
        background: #FFF;
      }
      .seeall {
        color: #FFF;

        text-align: center;
        /* OceanSpace/Button-M */
        font-family: Mitr;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
      }
    }
  }
}