@keyframes slideLeft {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F4FCFF;

  &.slide-left {
    animation: slideLeft 0.2s forwards ease-out; /* Apply the slide-right animation */
  }
  
  .addbar {
    border-top: 2px solid rgba(0, 0, 0, 0.20);;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    .addbar_text {
      color: #000;
      font-family: "Mitr";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
    .add_text {
      color: var(--OceanSpace-Brand-Primary, #0D7FE8);
      font-family: "Mitr";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: none;
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
    .add_text:after {
      content: 'เพิ่มเพื่อน';
      text-decoration-line: underline;
    }

  }
}
